<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title | append:" - " | append:site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{page.url | replace:'index.html','' | prepend: site.url}}">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
  <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW">

  {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="3; url=/">
  {% endif %}

  {% if page.description %}
    <meta name="description" content="{{page.description}}">
  {% elsif page.tags %}
    <meta name="description" content="{{page.content | markdownify | strip_html | truncatewords:50}}">
  {% else %}
    <meta name="description" content="{{site.description}}">
  {% endif %}

  {% if page.tags %}
    <meta name="keywords" content="{{page.tags | join: ','}},{{page.keywords | join: ','}}">
  {% elsif page.keywords %}
    <meta name="keywords" content="{{page.keywords | join: ','}}">
  {% else %}
    {% capture tag_list %}
      {% for tag in site.data.tags %}{{tag | map: 'name'}} {% endfor %}
    {% endcapture %}
    <meta name="keywords" content="{{tag_list | split: ' ' | join: ','}}">
  {% endif %}

  {% if page.date %}
    <meta http-equiv="date" content="{{page.date |date: '%A, %d  %Y %H:%M:%S GMT'}}">
  {% endif %}

  <!-- Custom CSS -->
  {% stylesheet app %}
</head>
