/* ----------------------------------------------------------*/
/* Base */
/* ----------------------------------------------------------*/

// breakpoint sizes
$mobile: (susy: (4, 1/8), breakpoint: (320px));
$tablet: (susy: (6, 1/8), breakpoint: (640px));
$small-desktop: (susy: (8, 1/4), breakpoint: (960px));
$desktop: (susy: (12, 1/4), breakpoint: (1280px));

$susy: (
  global-box-sizing: border-box,
  debug: (
    image: show,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  )
);

@include border-box-sizing;


html, body {
  @include container(map-get-deep($mobile, susy));
  @include breakpoint(map-get-deep($tablet, breakpoint)) {
    @include container(map-get-deep($tablet, susy));
  }
  @include breakpoint(map-get-deep($small-desktop, breakpoint)) {
    @include container(map-get-deep($small-desktop, susy));
  }
  @include breakpoint(map-get-deep($desktop, breakpoint)) {
    @include container(map-get-deep($desktop, susy));
  }
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: rem(5px);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: rem(16px);
  height: rem(16px);
  top: rem(3px);
  position: relative;
}
