// ----
// Base
// ----

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $font-base;
  line-height: $vertical-rhythm-ratio;
}

body {
  @include jl-container(sm);
  @include jl-breakpoint(md) {
    @include jl-container(md);
  }
  @include jl-breakpoint(lg) {
    @include jl-container(lg);
  }
  @include jl-breakpoint(xl) {
    @include jl-container(xl);
  }
}

p, ul, ol, dl, blockquote, pre, code,
td, th, textarea, small, caption, .highlight {
  @include jl-vertical-rhythm($font-size-base);
  @include jl-padding(rem(16px));
}

ol, ul {
  @include jl-padding(rem(32px));
}
