@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'blogicons';
  src: url("/assets/blogicons.eot?79777495");
  src: url("/assets/blogicons.eot?79777495#iefix") format("embedded-opentype"), url("/assets/blogicons.woff?79777495") format("woff"), url("/assets/blogicons.ttf?79777495") format("truetype"), url("/assets/blogicons.svg?79777495#blogicons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="jl-Icon-"]:before, [class*=" jl-Icon-"]:before {
  color: #dbdbcb;
  font-family: "blogicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.jl-Icon-menu:before {
  content: '\e800'; }

/* '' */
.jl-Icon-github:before {
  content: '\e801'; }

/* '' */
.jl-Icon-twitter:before {
  content: '\e802'; }

/* '' */
.jl-Icon-rss:before {
  content: '\e803'; }

/* '' */
pre {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: "Source Code Pro", Courier, monospace; }

code {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  font-family: "Source Code Pro", Courier, monospace;
  vertical-align: bottom; }

p code, ul code {
  color: #59524c;
  background-color: #98baaf; }

.highlight {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #ddd;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.highlight .hll {
  background-color: #373b41; }

.highlight {
  background: #1d1f21;
  color: #c5c8c6; }

.highlight .c {
  color: #969896; }

/* Comment */
.highlight .err {
  color: #cc6666; }

/* Error */
.highlight .k {
  color: #b294bb; }

/* Keyword */
.highlight .l {
  color: #de935f; }

/* Literal */
.highlight .n {
  color: #c5c8c6; }

/* Name */
.highlight .o {
  color: #8abeb7; }

/* Operator */
.highlight .p {
  color: #c5c8c6; }

/* Punctuation */
.highlight .cm {
  color: #969896; }

/* Comment.Multiline */
.highlight .cp {
  color: #969896; }

/* Comment.Preproc */
.highlight .c1 {
  color: #969896; }

/* Comment.Single */
.highlight .cs {
  color: #969896; }

/* Comment.Special */
.highlight .gd {
  color: #cc6666; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gh {
  color: #c5c8c6;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #b5bd68; }

/* Generic.Inserted */
.highlight .gp {
  color: #969896;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #8abeb7;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .kc {
  color: #b294bb; }

/* Keyword.Constant */
.highlight .kd {
  color: #b294bb; }

/* Keyword.Declaration */
.highlight .kn {
  color: #8abeb7; }

/* Keyword.Namespace */
.highlight .kp {
  color: #b294bb; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #b294bb; }

/* Keyword.Reserved */
.highlight .kt {
  color: #f0c674; }

/* Keyword.Type */
.highlight .ld {
  color: #b5bd68; }

/* Literal.Date */
.highlight .m {
  color: #de935f; }

/* Literal.Number */
.highlight .s {
  color: #b5bd68; }

/* Literal.String */
.highlight .na {
  color: #81a2be; }

/* Name.Attribute */
.highlight .nb {
  color: #c5c8c6; }

/* Name.Builtin */
.highlight .nc {
  color: #f0c674; }

/* Name.Class */
.highlight .no {
  color: #cc6666; }

/* Name.Constant */
.highlight .nd {
  color: #8abeb7; }

/* Name.Decorator */
.highlight .ni {
  color: #c5c8c6; }

/* Name.Entity */
.highlight .ne {
  color: #cc6666; }

/* Name.Exception */
.highlight .nf {
  color: #81a2be; }

/* Name.Function */
.highlight .nl {
  color: #c5c8c6; }

/* Name.Label */
.highlight .nn {
  color: #f0c674; }

/* Name.Namespace */
.highlight .nx {
  color: #81a2be; }

/* Name.Other */
.highlight .py {
  color: #c5c8c6; }

/* Name.Property */
.highlight .nt {
  color: #8abeb7; }

/* Name.Tag */
.highlight .nv {
  color: #cc6666; }

/* Name.Variable */
.highlight .ow {
  color: #8abeb7; }

/* Operator.Word */
.highlight .w {
  color: #c5c8c6; }

/* Text.Whitespace */
.highlight .mf {
  color: #de935f; }

/* Literal.Number.Float */
.highlight .mh {
  color: #de935f; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #de935f; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #de935f; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #b5bd68; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #c5c8c6; }

/* Literal.String.Char */
.highlight .sd {
  color: #969896; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #b5bd68; }

/* Literal.String.Double */
.highlight .se {
  color: #de935f; }

/* Literal.String.Escape */
.highlight .sh {
  color: #b5bd68; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #de935f; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #b5bd68; }

/* Literal.String.Other */
.highlight .sr {
  color: #b5bd68; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #b5bd68; }

/* Literal.String.Single */
.highlight .ss {
  color: #b5bd68; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #c5c8c6; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #cc6666; }

/* Name.Variable.Class */
.highlight .vg {
  color: #cc6666; }

/* Name.Variable.Global */
.highlight .vi {
  color: #cc6666; }

/* Name.Variable.Instance */
.highlight .il {
  color: #de935f; }

/* Literal.Number.Integer.Long */
html, body {
  font-family: "Quattrocento Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #302c29;
  background-color: #a7c4bb;
  font-size: 16px; }
  @media (min-width: 40em) {
    html, body {
      font-size: 18px; } }
  @media (min-width: 64em) {
    html, body {
      font-size: 20px; } }
  @media (min-width: 90em) {
    html, body {
      font-size: 22px; } }

p, ul, ol, dl, blockquote, span,
td, th, textarea, small, caption {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

li ul, li ol {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }

.Post-content p {
  text-align: justify; }

h1 {
  font-family: "Lustria", Helvetica, sans-serif;
  font-weight: 500; }

h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, serif;
  font-weight: 500;
  color: #3e3935; }

h1 {
  font-size: 2.44141rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 1.95313rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

h3 {
  font-size: 1.5625rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

a {
  text-decoration: none;
  color: #466964; }
  a:hover {
    color: #6c8c84; }
  a:active {
    color: #d1d1bc; }

.Site {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  min-height: 100vh; }
  .Site-main {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .Site-navbar {
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%; }
    @media (min-width: 64em) {
      .Site-navbar {
        width: 23.33333%;
        float: left;
        margin-left: 0.83333%;
        margin-right: 0.83333%; } }
  .Site-content {
    width: 95%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%; }
    @media (min-width: 64em) {
      .Site-content {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-left: 25.83333%;
        width: 73.33333%; }
        .Site-content:after {
          content: " ";
          display: block;
          clear: both; } }
    @media (min-width: 90em) {
      .Site-content {
        margin-left: 34.16667%;
        width: 65%; } }

.Site-header {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 1.5rem; }
  @media (min-width: 64em) {
    .Site-header {
      margin-left: 25.83333%;
      width: 73.33333%; } }
  @media (min-width: 90em) {
    .Site-header {
      margin-left: 34.16667%;
      width: 65%; } }
  .Site-header-title {
    font-size: 3.8147rem;
    line-height: 4.5rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-family: "Abril Fatface", Helvetica, sans-serif;
    font-weight: 700; }
    .Site-header-title:hover a {
      color: #466964; }

.Navbar {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: static; }
  @media (min-width: 64em) {
    .Navbar {
      width: 23.33333%;
      float: left;
      margin-left: 0.83333%;
      margin-right: 0.83333%;
      display: block;
      position: fixed; } }
  .Navbar-social {
    display: none; }
    @media (min-width: 64em) {
      .Navbar-social {
        display: block; } }
  .Navbar-gravatar {
    text-align: center;
    display: none; }
    @media (min-width: 64em) {
      .Navbar-gravatar {
        display: block; } }
    .Navbar-gravatar img {
      border-radius: 50%;
      border: 3px solid #6c8c84; }
  .Navbar-link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    background-color: #88a39c;
    color: #466964;
    border-radius: 5px;
    margin-right: 2rem;
    padding: 0.5rem; }
    @media (min-width: 64em) {
      .Navbar-link {
        width: 98.33333%;
        float: left;
        margin-left: 0.83333%;
        margin-right: 0.83333%;
        margin: 2px 0; } }
    .Navbar-link:last-child {
      margin-right: 0rem; }
    .Navbar-link:hover {
      background-color: #d1d1bc;
      color: #466964; }

.Site-footer {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1.5rem; }
  @media (min-width: 64em) {
    .Site-footer {
      margin-left: 25.83333%;
      width: 73.33333%; } }
  .Site-footer-social {
    display: block; }
    @media (min-width: 64em) {
      .Site-footer-social {
        display: none; } }
  .Site-footer-copyright {
    text-align: center; }

.Social {
  text-align: center; }

.jl-Icon-github,
.jl-Icon-twitter,
.jl-Icon-rss {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

.Paginator {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%; }
  .Paginator:after {
    content: " ";
    display: block;
    clear: both; }
  .Paginator-newerBtn {
    width: 20%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%; }
  .Paginator-olderBtn {
    width: 20%;
    float: right;
    margin-left: 2.5%;
    margin-right: 2.5%; }

.Excerpt-date {
  color: #6c8c84; }
.Excerpt-title {
  font-size: 1.95313rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }
.Excerpt-text {
  text-align: justify; }

.Tag-item-date {
  color: #6c8c84;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }
.Tag-item-postTitle {
  font-size: 1.5625rem;
  line-height: 3rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }
.Tag-item-text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }
.Tag-item-allTags {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }
.Tag-item-tag {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem; }

.Post-meta {
  color: #6c8c84; }
.Post-tags {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  color: #6c8c84; }
  .Post-tags-item {
    margin-right: 1rem; }
    .Post-tags-item:last-child {
      margin-right: 0rem; }

.VerticalRhythmPost {
  background: url(http://basehold.it/i/24); }
  @media (min-width: 40em) {
    .VerticalRhythmPost {
      background: url(http://basehold.it/i/27); } }
  @media (min-width: 64em) {
    .VerticalRhythmPost {
      background: url(http://basehold.it/i/30); } }
  @media (min-width: 90em) {
    .VerticalRhythmPost {
      background: url(http://basehold.it/i/33); } }

.Tags-name {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem; }

.Listings {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .Listings:after {
    content: " ";
    display: block;
    clear: both; }

.Listing {
  width: 95%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%; }
