.Post {
  // .Post-header
  @include jl-desc(header) {
  }

  // .Post-meta
  @include jl-desc(meta) {
    color: $jl-laurel-green;
  }

  // .Post-tags
  @include jl-desc(tags) {
    @include jl-vertical-rhythm($jl-font-size-m);
    color: $jl-laurel-green;
    // .Post-tags-item
    @include jl-desc(item) {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0rem;
      }
    }
  }
}
