// ----
// Base
// ----

// vertical rhythm debug
// html {
//   @include jl-responsive(
//     (background: url(http://basehold.it/i/24)),
//     (
//       md: url(http://basehold.it/i/27),
//       lg: url(http://basehold.it/i/30),
//       xl: url(http://basehold.it/i/33)
//     )
//   );
// }

body {
  @include jl-container(sm);
  @include jl-breakpoint(md) {
    @include jl-container(md);
  }
  @include jl-breakpoint(lg) {
    @include jl-container(lg);
  }
  @include jl-breakpoint(xl) {
    @include jl-container(xl);
  }
}

p, ul, ol, dl, blockquote, span, code,
td, th, textarea, small, caption {
  @include jl-vertical-rhythm($font-size-base);
}

.post-content p {
  text-align: justify;
}

pre {
  @include jl-vertical-rhythm($font-size-base, $bottom-rows: 0);
}

code {
  vertical-align: bottom; // fixes a monospace font bug in the browser
}

// inline code blocks
p code, ul code {
  color: lighten($black, 20%);
  background-color: darken($background-color, 3%);
}
