.Site {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;

  // .Site-main
  @include jl-desc(main) {
    @include flex(1);
  }

  // .Site-navbar
  @include jl-desc(navbar) {
    @include span(full);
    @include jl-breakpoint(lg) {
      @include span(3);
    }
  }

  // .Site-content
  @include jl-desc(content) {
    padding: 0 1rem;
    @include span(full);
    @include jl-breakpoint(lg) {
      @include container(960px);
      @include push(3);
      width: span(9);
    }
    @include jl-breakpoint(xl) {
      @include push(4);
      width: span(8);
    }
  }
}
