// =================
// Post specific CSS
// =================
// specify class in yaml frontmatter

.VerticalRhythmPost {
  @include jl-responsive(
    (background: url(http://basehold.it/i/24)),
    (
      md: url(http://basehold.it/i/27),
      lg: url(http://basehold.it/i/30),
      xl: url(http://basehold.it/i/33)
    )
  );
}
