html {
  font-family: $font-family;
  font-size: $font-base;
  line-height: $vertical-rhythm-ratio;
  @include jl-responsive(
    (font-size: $font-base),
    (
      md: $font-base + 2px,
      lg: $font-base + 4px,
      xl: $font-base + 6px
    )
  );
}

//
// Header styles
//

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: $font-weight-header;
  @include jl-padding(rem(16px));
}

h1 {
  @include jl-vertical-rhythm($font-size-xxl);
}

h2 {
  @include jl-vertical-rhythm($font-size-xl);
}

h3 {
  @include jl-vertical-rhythm($font-size-l);
}

//
// Link styles
//

a {
  text-decoration: none;
  // color: $link-color;
  // &:visited {
  //   color: $link-visited-color;
  // }
  // &:hover {
  //   color: $link-hover-color;
  // }
  // &:active {
  //   color: $link-active-color
  // }
}
