// ==========
// Typography
// ==========

html, body {
  font-family: $jl-font-family;
  font-size: $jl-font-base;
  line-height: $jl-vertical-rhythm-ratio;
  color: $jl-font-color;
  background-color: $jl-background-color;
  @include jl-responsive(
    (font-size: $jl-font-base),
    (
      md: $jl-font-base + 2px,
      lg: $jl-font-base + 4px,
      xl: $jl-font-base + 6px
    )
  );
}

p, ul, ol, dl, blockquote, span,
td, th, textarea, small, caption {
  @include jl-vertical-rhythm($jl-font-size-base);
}

// remove bottom margin from nested lists
li ul, li ol {
  @include jl-vertical-rhythm($jl-font-size-base, $bottom-rows: 0);
}

.Post-content p {
  text-align: justify;
}

// -------------
// Header styles
// -------------

h1 {
  font-family: $jl-font-family-post-name;
  font-weight: $jl-font-weight-header;
}

h2, h3, h4, h5, h6 {
  font-family: $jl-font-family-header;
  font-weight: $jl-font-weight-header;
  color: lighten($jl-font-color, 5%);
}

h1 {
  @include jl-vertical-rhythm($jl-font-size-xxl);
}

h2 {
  @include jl-vertical-rhythm($jl-font-size-xl);
}

h3 {
  @include jl-vertical-rhythm($jl-font-size-l);
}

h4 {
  @include jl-vertical-rhythm($jl-font-size-m);
}

// -----------
// Link styles
// -----------

a {
  text-decoration: none;
  color: $jl-myrtle-green;
  &:hover {
    color: $jl-laurel-green;
  }
  &:active {
    color: $jl-khaki;
  }
}
