// variables for sass libraries
// ----------------------------
//breakpoint
$breakpoint-to-ems: true !global;
// modular-scale
$ms-base: 1rem !global;
$ms-ratio: $major-third !global;
// bourbon
$em-base: 14px !global;

// typography
$font-base: 14px;
$vertical-rhythm-ratio: 1.5;
$line-height-base: rem($font-base) * $vertical-rhythm-ratio;

$font-size-xs:    ms(-2);
$font-size-s:     ms(-1);
$font-size-base:  ms(0);
$font-size-m:     ms(1);
$font-size-l:     ms(2);
$font-size-xl:    ms(3);
$font-size-xxl:   ms(4);
$font-size-title: ms(6);

$font-weight-normal: 300;
$font-weight-strong: 500;
$font-weight-header: 500;
$font-weight-title:  700;

$font-family: 'Quattrocento Sans', Arial, sans-serif; //Raleway, Lato
$font-family-title: 'Jim Nightshade', Helvetica, sans-serif;
$font-family-header: 'Yanone Kaffeesatz', Helvetica, sans-serif; //Lustria
$font-family-code: 'Inconsolata', Courier, monospace;

