---
layout: default
---
<article class="Post {{ page.postClass }}">

  <header class="Post-header">
    <h1>{{ page.title }}</h1>
    <section class="Post-meta">
      <time pubdate datetime="{{ page.date | date_to_xmlschema }}">
        <span>{{ page.date | date: "%b %-d, %Y" }}</span>
      </time>
      <span> • Jonathan Lehman</span>
    </section>
    <section class="Post-tags">
      <span>Tags: </span>
      {% assign sorted_tags = (page.tags | sort:0) %}
      {% for tag in sorted_tags %}
        <a class="Post-tags-item" href="/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </section>
  </header>

  <section class="Post-content">
    {{ content }}
  </section>

</article>

{% include disqus.html %}
